GITEA_INSTANCE_URL=https://gitea.example.com
RUNNER_NAME=gitea-swarm-runner
GITEA_RUNNER_LABELS=ubuntu-latest:docker://gitea/runner-images:ubuntu-latest,ubuntu-22.04:docker://gitea/runner-images:ubuntu-22.04
